<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'forms/log_in/css/style.css' %}">
</head>
<body>
    <img src="{% static 'forms/log_in/images/image.jpg' %}" alt="form_image.jpg" height="937" width="1920">
    <form autocomplete="off" name="login_form" method="post">
        {% csrf_token %}
        <h1> Login Form </h1>
        
        <label> Username : </label>
        <input type="text" id="uname" name="username" placeholder="JohnCayra">
        
        <label> Password : </label>
        <input type="password" id="pwd" name="password" placeholder="Write password here">
        <button type="submit">Log in</button>
        <br><br><br>
        <a href="{% provider_login_url 'facebook' %}">Facebook</a><br>
        <a href="{% provider_login_url 'google' %}">Google</a>
        <br><br><br>
    </form>

    <h3>New user, then sign up here :</h3>
    <a href="{% url 'signup' %}"><button type="submit">Sign UP</button></a>
    <br>
    <div>
        {% for message in messages %}
        <h3 class="alert alert-danger text-center"> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>